<section class="section sectionp bgcl-primary page-padding">
	<div class="container-fluid">
		<div class="col-md-10 col-sm-10 col-11 mx-auto">
			<div class="row">
				<div class="col-lg-6 mb-lg-0 mb-4">
					<div class="addr">
						<!-- <p class="sora-regular size16 raisin-black mb-0 text-capitalize">
							Please contact Neelgund using the details below:
						</p> -->
						<h1 class="nelphim-regular size62 raisin-black text-capitalize">
							Get In Touch<span class="d-block">Contact for any query</span>
						</h1>
						<!-- <h1 class="nelphim-regular size62 raisin-black text-capitalize">
							Let’s discuss <span class="d-block">interior design</span>
						</h1> -->
						<p class="sora-regular size18 raisin-black csmt30 mb-1 para-width">
							Neelgund Developers' vision is to redefine the real estate landscape with
							pioneering solutions and sustainable growth
						</p>
						<div class="details csmt60 row">
							<div class="col-12">
								<div class="row">
									<div class="col-2">
										<p class="sora-regular size18 raisin-black mb-3 text-capitalize">
											email
										</p>
									</div>
									<div class="col-10">
										<a href="mailto:info@neelgund.com"
											class="sora-regular size18 gray d-block mb-3">info&#64;neelgund.com</a>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="row">
									<div class="col-2">
										<p class="sora-regular size18 raisin-black mb-3 text-capitalize">
											phone
										</p>
									</div>
									<div class="col-10">
										<a href="tel:+918050238777" class="sora-regular size18 gray d-block mb-3">+91
											80502 38777</a>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="row">
									<div class="col-2">
										<p class="sora-regular size18 raisin-black mb-3 text-capitalize">
											Office
										</p>
									</div>
									<div class="col-10">
										<a class="sora-regular size18 gray d-block mb-3">
											No 14A, 3rd Floor, Stellar Mall, <span
												class="d-xl-block d-lg-inline d-md-block d-block">beside JG commerce
												college, Jayanagar, Vidya Nagar, Hubballi</span>
										</a>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="row">
									<div class="col-2">
										<p class="sora-regular size18 raisin-black mb-3 text-capitalize">
											hours
										</p>
									</div>
									<div class="col-10">
										<a class="sora-regular size18 gray d-block mb-3">
											Monday - Friday, 9 AM - 6 PM
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="row">
							<div class="col-12">
								<div class="row">
									<div class="col-3">
										<p class="sora-regular size16 raisin-black mb-3">EMAIL</p>
									</div>
									<div class="col-9">
										<a
											href="mailto:Hello&#64;neelgund.com"
											class="sora-regular size16 gray d-block mb-3"
											>Hello&#64;neelgund.com</a
										>
									</div>
								</div>
								<div class="row">
									<div class="col-3">
										<p class="sora-regular size16 raisin-black mb-3">PHONE</p>
									</div>
									<div class="col-9">
										<a
											href="tel:+971501234567"
											class="sora-regular size16 gray d-block mb-3"
											>+971 50 123 4567</a
										>
									</div>
								</div>
								<div class="row">
									<div class="col-3">
										<p class="sora-regular size16 raisin-black mb-3">OFFICE</p>
									</div>
									<div class="col-9">
										<a
											href="https://www.google.com/maps/place/Downtown+Design+District,+India,+UAE"
											class="sora-regular size16 gray d-block mb-3"
											>Downtown Design District, India, UAE</a
										>
									</div>
								</div>
								<div class="row">
									<div class="col-3">
										<p class="sora-regular size16 raisin-black mb-3">HOURS</p>
									</div>
									<div class="col-9">
										<a
											href="https://www.google.com/maps/place/Downtown+Design+District,+India,+UAE"
											class="sora-regular size16 gray d-block mb-3"
											>Sunday – Thursday, 10 AM – 6 PM</a
										>
									</div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
				<div class="col-lg-6 mb-lg-0 mb-4">
					<div class="alert alert-success alert-dismissable" style="text-align: center" *ngIf="msg_success">
						{{ throw_msg }}
					</div>
					<div class="alert text-danger alert-dismissable" style="text-align: center" *ngIf="msg_danger">
						{{ throw_msg }}
					</div>
					<form [formGroup]="addcontactForm" (ngSubmit)="onSubmit()" method="post" novalidate>
						<div class="row">
							<div class="form-group col-md-6">
								<label for="name"
									class="form-label sora-regular text-uppercase raisin-black size16 csmb12">FULL
									NAME</label>
								<div class="mb-3 ">
									<input type="text" class="helpform form-control sora-regular raisin-black size16"
										formControlName="firstname" name="firstname" placeholder="" />
									<span *ngIf="submitted && hasError('firstname', 'required')"
										class="text-danger mt-2 sora-regular">Please enter your name
									</span>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label for="email"
									class="form-label sora-regular text-uppercase raisin-black size16 csmb12">Email
									Address</label>
								<div class="mb-3 ">
									<input type="email" class="helpform form-control sora-regular raisin-black size16"
										formControlName="email" name="email" placeholder="" />
									<span *ngIf="submitted && hasEmailError('email', 'required')"
										class="text-danger sora-regular">
										{{hasEmailError('email','required')}}
									</span>
								</div>
							</div>

							<div class="form-group col-md-6">
								<label for="phone"
									class="form-label sora-regular text-uppercase raisin-black size16 csmb12">Phone
									Number</label>
								<div class="mb-3 ">
									<!-- <input
										type="text"
										class="helpform form-control sora-regular raisin-black size18"
										formControlName="phone"
										name="phone"
										placeholder=""
									/> -->
									<ngx-intl-tel-input class="interphone form-control" id="floatingInput"
										[cssClass]="'custom-intl-tel-input'" [enableAutoCountrySelect]="true"
										[enablePlaceholder]="false" [searchCountryFlag]="true"
										[preferredCountries]="preferredCountries" [searchCountryField]="[
											SearchCountryField.Iso2,
											SearchCountryField.Name
										]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [phoneValidation]="true"
										[separateDialCode]="true" name="phone" formControlName="phone">
									</ngx-intl-tel-input>
									<span *ngIf="submitted && hasError('phone', 'required')"
										class="text-danger sora-regular">Please
										provide your phone number</span>
									<span *ngIf="submitted && hasError('phone', 'validatePhoneNumber')"
										class="text-danger sora-regular">
										Please enter a valid phone number for the selected country
									</span>

								</div>
							</div>
							<!-- <div class="form-group col-md-6">
								<label
									for="name"
									class="form-label sora-regular text-uppercase raisin-black size18 csmb12"
									>services</label
								>
								<div class="mb-3">
									<input
										type="text"
										class="helpform form-control sora-regular raisin-black size18"
										formControlName="service"
										name="service"
										placeholder=""
									/>
									<span
										*ngIf="submitted && hasError('service', 'required')"
										class="text-danger mt-2 sora-regular"
										>Please select a service</span
									>
								</div>
							</div> -->

							<div class="form-group col-md-6">
								<label
									class="form-label sora-regular text-uppercase raisin-black size16 csmb12">Services</label>

								<div class="position-relative custom-dropdown ">
									<div class="dropdown-selected sora-regular size16 input-border"
										[class.open]="dropdownOpen" [class.placeholder]="!selectedService"
										(click)="toggleDropdown($event)">
										{{ selectedService || "Select a service" }}
									</div>

									<ul class="dropdown-options sora-regular size16 mb-0 " *ngIf="dropdownOpen">
										<li class="option" *ngFor="let option of servicesData" (click)="
												selectService(option.name); $event.stopPropagation()
											">
											{{ option.name }}
										</li>
									</ul>
								</div>

								<input type="hidden" formControlName="subject" [value]="selectedService"
									class="size16 sora-regular raisin-black" />

								<span *ngIf="submitted && hasError('subject', 'required')"
									class="text-danger mt-2 sora-regular">
									Please select a service
								</span>
							</div>

							<div class="form-group col-md-12 mt-3 mt-md-0">
								<label for="phone"
									class="form-label sora-regular text-uppercase raisin-black size16 csmb12">Message</label>
								<div class="mb-3">
									<textarea class="helptextarea sora-regular raisin-black size16"
										formControlName="message" name="message" placeholder=""></textarea>
									<span *ngIf="submitted && hasError('message', 'required')"
										class="text-danger sora-regular">Please
										enter your message</span>
								</div>
							</div>

							<div class="col-12">
								<button class="btn-primary text-center mt-2 w-100" type="submit">
									<span class="text">
										Send Message
										<!-- <img
											class="img"
											src="{{
												baseUrl
											}}/assets/images/icons/right-arrow-colored.png"
											alt=""
											width="22"
											height="11"
										/> -->
									</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section sectionp bgcl-primary">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-sm-10 col-11 mx-auto">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4804.136292030373!2d75.12496577593512!3d15.359327658049635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb8d742bc1f4b9d%3A0xceb08e3c5cd1312d!2sNeelgund%20Developers!5e1!3m2!1sen!2sin!4v1770209713078!5m2!1sen!2sin"
					width="100%" height="450" style="border: 0" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade">
				</iframe>
			</div>
		</div>
	</div>
</section>