<section class="journal bgcl-primary">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-sm-11 col-11 mx-auto">
				<div class="row">
					<div class="col-lg-8">
						<div class="content">
							<div class="overflow-hidden">
								<h2 class="sub-heading size16 sora-regular raisin-black mb-0">
									Journal
								</h2>
							</div>
							<div class="overflow-hidden">
								<h1 class="heading size100 nelphim-regular raisin-black csmb80">
									Design Insights & <span class="d-block">Inspiration</span>
								</h1>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<!-- main -->
						<div class="row g-xl-5 g-md-4 g-sm-3">
							<div class="col-xl-8 col-lg-8 col-md-8 overflow-hidden">
								<div class="content content-animate">
									<img
										src="{{ baseUrl }}/assets/images/journal/journal-main.png"
										alt="journal"
										title="journal"
										class="img-fluid w-100 object-fit-cover mb-3"
										loading="lazy"
									/>
									<h5
										class="sora-regular size18 csmb16 text-capitalize para-width"
									>
										The 5 Secrets To Pulling Off Simple, Minimal Design
									</h5>
									<p class="sora-regular size16 gray mb-0 para-width">
										Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.
										Nunc Mattis Ligula Pellentesque Nisi Tristique Porta.
									</p>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 overflow-hidden">
								<div class="content sectionpb content-animate">
									<img
										src="{{ baseUrl }}/assets/images/journal/journal-main-1.png"
										alt="journal"
										title="journal"
										class="img-fluid w-100 object-fit-cover mb-3"
										loading="lazy"
									/>
									<h5 class="sora-regular size18 csmb16 text-capitalize">
										The 5 Secrets To Pulling Off Simple, Minimal Design
									</h5>
									<p class="sora-regular size16 gray mb-0">
										Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.
										Nunc Mattis Ligula Pellentesque Nisi Tristique Porta.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- second main -->
<section class="blogs bgcl-primary sectionpb">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-sm-11 col-11 mx-auto">
				<div class="row g-xl-5 g-md-4 g-sm-3">
					<div class="col-lg-4 col-md-6 col-sm-6 overflow-hidden">
						<a href="/journal-detail" >
							<div class="content scroll-animate">
								<img
									src="{{ baseUrl }}/assets/images/journal/ph-blog1.png"
									alt="journal"
									title="journal"
									class="img-fluid w-100 object-fit-cover mb-3"
									loading="lazy"
								/>
								<h5
									class="sora-regular raisin-black size18 csmb16 text-capitalize"
								>
									The 5 Secrets To Pulling Off Simple, Minimal Design
								</h5>
								<p class="sora-regular size16 gray mb-0">
									Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Nunc
									Mattis Ligula Pellentesque Nisi Tristique Porta.
								</p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<a href="/journal-detail">
							<div class="content scroll-animate">
								<img
									src="{{ baseUrl }}/assets/images/journal/ph-blog2.png"
									alt="journal"
									title="journal"
									class="img-fluid w-100 object-fit-cover mb-3"
									loading="lazy"
								/>
								<h5
									class="sora-regular raisin-black size18 csmb16 text-capitalize"
								>
									The 5 Secrets To Pulling Off Simple, Minimal Design
								</h5>
								<p class="sora-regular size16 gray mb-0">
									Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Nunc
									Mattis Ligula Pellentesque Nisi Tristique Porta.
								</p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<a href="/journal-detail">
							<div class="content scroll-animate">
								<img
									src="{{ baseUrl }}/assets/images/journal/ph-blog3.png"
									alt="journal"
									title="journal"
									class="img-fluid w-100 object-fit-cover mb-3"
									loading="lazy"
								/>
								<h5
									class="sora-regular raisin-black size18 csmb16 text-capitalize"
								>
									The 5 Secrets To Pulling Off Simple, Minimal Design
								</h5>
								<p class="sora-regular size16 gray mb-0">
									Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Nunc
									Mattis Ligula Pellentesque Nisi Tristique Porta.
								</p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<a href="/journal-detail" >
							<div class="content scroll-animate">
								<img
									src="{{ baseUrl }}/assets/images/journal/ph-blog4.png"
									alt="journal"
									title="journal"
									class="img-fluid w-100 object-fit-cover mb-3"
									loading="lazy"
								/>
								<h5
									class="sora-regular raisin-black size18 csmb16 text-capitalize"
								>
									The 5 Secrets To Pulling Off Simple, Minimal Design
								</h5>
								<p class="sora-regular size16 gray mb-0">
									Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Nunc
									Mattis Ligula Pellentesque Nisi Tristique Porta.
								</p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<a href="/journal-detail">
							<div class="content scroll-animate">
								<img
									src="{{ baseUrl }}/assets/images/journal/ph-blog5.png"
									alt="journal"
									title="journal"
									class="img-fluid w-100 object-fit-cover mb-3"
									loading="lazy"
								/>
								<h5
									class="sora-regular raisin-black size18 csmb16 text-capitalize"
								>
									The 5 Secrets To Pulling Off Simple, Minimal Design
								</h5>
								<p class="sora-regular size16 gray mb-0">
									Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Nunc
									Mattis Ligula Pellentesque Nisi Tristique Porta.
								</p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<a href="/journal-detail">
							<div class="content scroll-animate">
								<img
									src="{{ baseUrl }}/assets/images/journal/ph-blog6.png"
									alt="journal"
									title="journal"
									class="img-fluid w-100 object-fit-cover mb-3"
									loading="lazy"
								/>
								<h5
									class="sora-regular raisin-black size18 csmb16 text-capitalize"
								>
									The 5 Secrets To Pulling Off Simple, Minimal Design
								</h5>
								<p class="sora-regular size16 gray mb-0">
									Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Nunc
									Mattis Ligula Pellentesque Nisi Tristique Porta.
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
