<section class="about-section hero-bannerservice bgcl-primary" *ngIf="bannerData && bannerData.length > 0">
	<div class="content position-relative h-100" *ngIf="bannerData" [ngStyle]="{
			'background-image':
				'url(' + imagePath + 'banner/' + bannerData[0].media_data[0].src + ')'
		}">
		<div class="position-absolute w-100 h-100">
			<div class="overlay"></div>
			<!-- <img
			src="{{ imagePath }}/banner/{{ bannerData[0].media_data[0].src }}"
			alt=""
			class="img-fluid w-100 h-100 object-fit-cover"
			/> -->
		</div>
		<div class="box-left">
			<div class="content-block">
				<p class="size16 cloud-white sora-regular mb-0 text-uppercase">
					<!-- Our Interior Design Services -->
					<!-- {{ servicesBannerData.name }} -->
				About Neelgund
				</p>
				<!-- <p class="size16 raisin-black sora-regular mb-0">OUR SERVICES</p> -->
				<h1 class="nelphim-regular size90 cloud-white mb-0 short-desc-width">
					<!-- Leading Interior Design Company in Dubai -->
					{{ bannerData[0]?.short_desc }}
				</h1>
				<p class="size18 cloud-white sora-regular csmt30 mb-0 desc-width">
					<!-- Neelgund Creates Luxurious, Functional Spaces That Inspire And
					Elevate Lifestyles. As A Leading Interior Design Company In Dubai, We
					Offer Interior Design Services For Residential, Commercial,
					Educational, And Hospitality Projects With Precision, Creativity, And
					Attention To Detail. -->
					{{ bannerData[0]?.description }}
				</p>
			</div>
		</div>
	</div>
</section>

<section class="about bgcl-orange">
	<div class="container-fluid h-100">
		<div class="row h-100">
			<div class="col-md-10 col-sm-11 col-11 mx-auto h-100">
				<div class="row h-100">
					<div class="col-lg-6 mb-5 mb-lg-0">
						<div class="content" *ngIf="aboutData && aboutData.length > 0">
							<div class="overflow-hidden">
								<h2 class="size16 sora-regular raisin-black mb-0 text-uppercase">
									<!-- MEET THE FOUNDER -->
									{{ aboutData[0].desc_short }}
								</h2>
							</div>

							<!-- <h1 class="size100 nelphim-regular raisin-black csmb36 w-50 ms-4 position-relative" style="line-height: normal;">
									<span class="size100 nelphim-regular raisin-black position-absolute top-0 " style="left: -10%; line-height: normal;">"</span>
									{{ aboutData[0].title_name }}
									<span class="size100 nelphim-regular raisin-black position-absolute bottom-0" style="right: -5%; line-height: normal;">"</span>
								</h1> -->

							<div class="overflow-y-hidden d-flex csmb36 position-relative about-title">
								<!-- <span class="nelphim-regular size100" style="line-height: 1"
									>"</span
								> -->
								<h2 class=" size62 nelphim-regular raisin-black">
									{{ aboutData[0].title_sign }}
								</h2>
							</div>

							<div class="overflow-hidden mb-2 sora-regular raisin-black size16" [innerHTML]="aboutData[0].desc_long">
								<!--<p class="sora-regular raisin-black para-width  size16">
									{{ aboutData[0].desc_long }}
									Pinar founded Neelgund in 2014, after a successful career
									with international architectural consultants in Dubai as head
									of the Interior Design Department.
									<br />
									<br />
									Pinar is an architect who has developed her skills in interior
									design, with her creative sense of space and design allowing
									her to cultivate a deep understanding of meaningful interiors.
									<br />
									<br />
									Pinar leads a team of creative designers from her studio in
									Dubai, offering a full range of services spanning residential,
									hospitality, commercial, and educational interior designs. 
								</p> -->
								<!-- <p class="sora-regular raisin-black para-width  size16"> 
									Neelgund was founded in 2014 following years of experience leading the Interior Design Department at international architectural consultants in Dubai. With a background in architecture and a passion for interior design, spaces have always been understood as transformative, capable of shaping lives and creating meaningful experiences.
								</p>
								<p class="sora-regular raisin-black para-width  size16">
								From our Dubai studio, a talented team of creative designers is led by a shared passion for excellence. Distinctive interiors are crafted across residential, hospitality, commercial and educational projects throughout the region.
								</p>
								<p class="sora-regular raisin-black para-width  size16">
								Whether a home that reflects personality or a space that inspires, stories are welcomed, and something extraordinary can be created together.
								</p> -->
							</div>

							<a class="btn-primary sora-regular size16 raisin-black mt-4" href="/contact">
								Know More
							</a>
						</div>
					</div>
					<div class="col-lg-6 col-xl-5 ms-auto p-0 about-image-height" *ngIf="aboutData && aboutData.length > 0">
						<div class="position-relative h-100">
							<img src="{{ imagePath }}/about/{{ aboutData[0]?.image_banner }}" alt="{{ aboutData[0].title_name }}"
								title="{{ aboutData[0].title_name }}" loading="lazy"
								class="img-fluid w-100 mt-lg-0 mt-4 h-100 object-fit-cover content-animate" width="0" height="0" />
							<div class="position-absolute bgcl-black w-100 founder-card">
								<h3 class="nelphim-regular size38 csmb18 cloud-white text-capitalize">
									{{ aboutData[0].title_name }}
								</h3>
								<p class="sora-regular size20 csmb26 cloud-white para-width gray-white">
									Founder and Design Director of Neelgund, bringing over 15 years of distinguished experience in
									interior architecture, crafting thoughtfully designed spaces that seamlessly blend functionality with
									aesthetic excellence.
								</p>
								<div class="socials d-flex align-items-center">
									<a href="https://www.instagram.com/neelgund/" target="_blank" rel="noopener noreferrer">
										<img src="{{ baseUrl }}/assets/images/socials/instagram.svg" alt="Instagram" title="Instagram"
											loading="lazy" class="img-fluid social-icon" width="24" height="24" />
									</a>
									<a href="https://www.facebook.com/neelgund/" target="_blank" rel="noopener noreferrer">
										<img src="{{ baseUrl }}/assets/images/socials/facebook.svg" alt="Facebook" title="Facebook"
											loading="lazy" class="img-fluid social-icon" width="24" height="24" />
									</a>
									<a href="https://www.linkedin.com/company/ph-design-me/" target="_blank" rel="noopener noreferrer">
										<img src="{{ baseUrl }}/assets/images/socials/linkedin.svg" alt="Linkedin" title="Linkedin"
											loading="lazy" class="img-fluid social-icon" width="24" height="24" />
									</a>
									<!-- <a href="">
										<img
											src="{{ baseUrl }}/assets/images/socials/youtube.svg"
											alt="Youtube"
											title="Youtube"
											loading="lazy"
											class="img-fluid social-icon"
										/>
									</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ourDesign bgcl-secondary">
	<img src="{{ baseUrl }}/assets/images/aboutus/ph-meet-the-founder-1.webp" alt="Meet the founder"
		title="Meet the founder" class="img-fluid w-100 design-img" loading="lazy" width="0" height="0" />
	<div class="container-fluid sectionpt sectionpb">
		<div class="row">
			<div class="col-md-10 col-sm-11 col-11 mx-auto">
				<h3 class="sora-regular size16 raisin-black text-uppercase csmb12" data-aos="fade-up" data-aos-duration="1000">
					Our design philosophy
				</h3>
				<p class="nelphim-regular size38 raisin-black para-width" data-aos="fade-up" data-aos-duration="1500">
					Neelgund blends contemporary aesthetics with timeless elegance. We approach each project with precision,
					artistry and a deep understanding of unique requirements of our clients. From conceptualisation to final
					styling, our mission is to craft refined, functional and enduring spaces with practical design solutions.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="ourValues sectionp bgcl-secondary">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-sm-11 col-11 mx-auto">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-12">
						<div
							class="d-flex align-items-lg-end align-items-start justify-content-between flex-lg-row flex-column csmb80">
							<div class="head">
								<h3 class="sora-regular size16 raisin-black text-uppercase mb-0" data-aos="fade-up"
									data-aos-duration="1000">
									Our Process
								</h3>
								<h4 class="nelphim-regular size62 raisin-black mb-0" data-aos="fade-up" data-aos-duration="1500">
									Driven by Purpose, <span class="d-block"> Designed with Precision</span>
								</h4>
							</div>
							<!-- <a
								href="/contact"
								class="btn-primary sora-regular size16 raisin-black"
								data-aos="fade-up"
								data-aos-duration="1500"
							>
								Contact Us
							</a> -->
						</div>
					</div>
					<div class="col-md-12">
						<div class="row">
							<div class="col-lg-6 mb-lg-0 mb-4">
								<img src="{{ baseUrl }}/assets/images/aboutus/ph-our-values-1.webp" alt="Our values" title="Our values"
									class="img-fluid values-img scroll-animate sticky-image" loading="lazy" width="659" height="822" />
							</div>
							<div class="col-xl-5 offset-xl-1 col-lg-6 mx-auto" data-aos="fade-up" data-aos-duration="2000">
								<div class="content d-flex flex-column justify-content-center h-100">
									<h4 class="sora-regular size38 raisin-black">
										Integrity in Every Detail.
									</h4>
									<div class="">
										<div class="border-bottom border-primary csmt80">
											<h4 class="sora-regular size22 raisin-black csmb18">
												PROJECT INITIATION
											</h4>
											<p class="sora-regular size16 gray csmb26">
												Every project begins with a comprehensive discussion with the operator and owner to understand
												their vision, identity, DNA and preferences.
											</p>
										</div>
										<div class="border-bottom border-primary csmt80">
											<h4 class="sora-regular size22 raisin-black csmb18">
												RESEARCH AND IDEATION
											</h4>
											<p class="sora-regular size16 gray csmb26">
												We create a distinct sense of place by understanding the culture, history and character of its
												surroundings and inhabitants.
											</p>
										</div>
										<div class="border-bottom border-primary csmt80">
											<h4 class="sora-regular size22 raisin-black csmb18">
												CREATIVE SPACE PLANNING
											</h4>
											<p class="sora-regular size16 gray csmb26">
												Different zones and their relationships are developed through the creative process, considering
												structure, size and orientation to maximise comfort and interaction.
											</p>
										</div>



										<div class="border-bottom border-primary csmt80">
											<h4 class="sora-regular size22 raisin-black csmb18">
												DEVELOPING A FEEL AND MOOD
											</h4>
											<p class="sora-regular size16 gray csmb26">
												The building and its surroundings shape our interior design approach. Architecture plays a major
												part in determining our design, particularly the volume of space.
											</p>
										</div>
										<div class="border-bottom border-primary csmt80">
											<h4 class="sora-regular size22 raisin-black csmb18">
												SKETCHING
											</h4>
											<p class="sora-regular size16 gray csmb26">
												Pen to paper enables us to visualise and crystallise desired outcomes. We proceed with multiple
												refinements until no detail is overlooked.
											</p>
										</div>
										<div class="border-bottom border-primary csmt80">
											<h4 class="sora-regular size22 raisin-black csmb18">
												3D RENDERINGS
											</h4>
											<p class="sora-regular size16 gray csmb26">
												Visual interpretations help clients understand the design clearly. Collectively, the exchange of
												feedback smoothens the design phases and flow.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ourTeam sectionp bgcl-secondary">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-sm-11 col-11 mx-auto">
				<div class="row">
					<div class="col-xl-5 col-lg-6 mb-lg-0 mb-4 team-content">
						<h3 class="sora-regular size16 raisin-black mb-0 text-uppercase" data-aos="fade-up"
							data-aos-duration="1000">
							MEET THE TEAM
						</h3>
						<h4 class="nelphim-regular size62 raisin-black text-capitalize csmb36" data-aos="fade-up"
							data-aos-duration="1500">
							Crafting Exceptional
							<br />Interiors Together
						</h4>
						<p class="sora-regular size18 raisin-black para-width" data-aos="fade-up" data-aos-duration="2000">
							The Neelgund team combines creativity, technical expertise and meticulous attention to detail. Our
							designers bring varied backgrounds across architecture and interior design, contributing specialised
							knowledge to every project. We work as a unified studio, delivering exceptional results through close
							collaboration.
						</p>
					</div>
					<div class="col-xl-6 offset-xl-1 col-lg-6">
						<div class="teamMembers">
							<div class="row g-lg-5 g-3">
								<div class="col-md-6 col-sm-6 col-6" *ngFor="let team of teamMembers">
									<div class="team-image-container">
										<img [src]="baseUrl + team.image" [alt]="team.name" [title]=""
											class="img-fluid teamImg w-100 scroll-animate shadow-none" loading="lazy" width="0" height="0" />
									</div>
									<!-- <div class="team-content mt-2">
										<h4
											class="sora-regular size18 raisin-black mb-0 text-capitalize"
										>
											{{ team.name }} / {{ team.position }}
										</h4>
									</div> -->
								</div>
								<!-- <div class="col-md-12">
									<div class="team-image-container">
										<img
											[src]="
												baseUrl + '/assets/images/aboutus/ph-design-team.jpg'
											"
											alt="ph-design-team"
											title="ph-design-team-image"
											class="img-fluid teamImg w-100 scroll-animate shadow-none"
											loading="lazy"
											width="0"
											height="0"
										/>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>