$background-color: #cfaf56;
$text-color: #1A1818;
$text-dark-color: #000;
$text-light-color: #fff;
$text-muted-color: #cfaf56;
$text-danger-color: #FF0000;
$shadow-color: #00000047;
// $placeholder:#cac6c2;

//unused variables or unused colors

$success-color: #91722b;
$label-color: #91722b;
$border-color: #91722b;
$primary-color: #91722b;
$secondary-color: #cfaf56;



// fonts

$font-nelphim-regular: 'Outfit Regular';
$font-nelphim-italic: 'Outfit Italic';

$font-sora-thin: 'Outfit Thin';
$font-sora-extralight: 'Outfit ExtraLight';
$font-sora-light: 'Outfit Light';
$font-sora-regular: 'Outfit Regular';
$font-sora-medium: 'Outfit Medium';
$font-sora-semibold: 'Outfit SemiBold';
$font-sora-bold: 'Outfit Bold';
$font-sora-extrabold: 'Outfit ExtraBold';


$montserrat-bold: 'Montserrat Bold';
