<header [class.sticky]="isScrolled" [class.hide]="hideHeader" [class.invert-logo]="shouldInvertLogo()">
  <!-- STICKY HEADER WRAPPER -->
  <div class="sticky-header">
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark py-2 d-none d-md-flex topbar">
      <div class="container">
        <div class="row align-items-center gy-2">
          <div class="col-12 col-md-6">
            <div class="d-flex flex-column flex-md-row text-center text-md-start gap-2 top-info text-light">
              <small>
                <i class="fas fa-map-marker-alt me-2 text-secondary"></i>
                Stellar Mall, Hubballi
              </small>
              <small>
                <i class="fas fa-envelope me-2 text-secondary"></i>
                <a href="mailto:Info@neelgund.com" class="text-light text-decoration-none">
                  Infoneelgund.com
                </a>
              </small>
            </div>
          </div>
          <div id="note" class="col-md-3 d-none d-lg-block text-center">
            <small class="text-secondary">Note : We fulfill your dreams</small>
          </div>
          <div class="col-12 col-md-3">
            <div class="d-flex justify-content-center justify-content-md-end gap-2 top-link">
              <a href="#" class="btn btn-sm-square rounded-circle bg-light">
                <i class="fab fa-facebook-f text-primary"></i>
              </a>
              <a href="#" class="btn btn-sm-square rounded-circle bg-light">
                <i class="fab fa-twitter text-primary"></i>
              </a>
              <a href="#" class="btn btn-sm-square rounded-circle bg-light">
                <i class="fab fa-instagram text-primary"></i>
              </a>
              <a href="#" class="btn btn-sm-square rounded-circle bg-light">
                <i class="fab fa-linkedin-in text-primary"></i>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Navbar Start -->
    <div class="container-fluid navbar-wrapper">
      <div class="col-lg-10 offset-lg-1">
        <nav class="navbar navbar-dark navbar-expand-lg py-0">
          <a href="index.html" class="navbar-brand text-secondary">
            <img src="../../../assets/logo/neelgund.png" width="160" height="50" title="Neelgund Developers" class="nav-logo">
          </a>
          <button type="button" class="navbar-toggler me-0 bg-primary" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse bg-transparent" id="navbarCollapse">
            <div class="navbar-nav ms-auto mx-xl-auto p-0">
              <a routerLink="/" [class.active]="router.isActive('/', true)" class="nav-item nav-link text-secondary">Home</a>
              <a routerLink="/about" [class.active]="router.isActive('/about', true)" class="nav-item nav-link">About</a>
              <a routerLink="/services" [class.active]="router.isActive('/services', true)" class="nav-item nav-link">Services</a>
              <a routerLink="/projects" [class.active]="router.isActive('/projects', true)" class="nav-item nav-link">Projects</a>
              <a routerLink="/contact" [class.active]="router.isActive('/contact', true)" class="nav-item nav-link">Contact</a>
            </div>
          </div>
          <div class="d-none d-xl-flex flex-shirink-0">
            <div id="phone-tada" class="d-flex align-items-center justify-content-center me-4">
              <a href="" class="position-relative animated tada infinite">
                <i class="fa fa-phone-alt text-secondary fa-2x"></i>
                <div class="position-absolute" style="top: -7px; left: 20px;">
                  <span><i class="fa fa-comment-dots text-secondary"></i></span>
                </div>
              </a>
            </div>
            <div class="d-flex flex-column pe-4 border-end">
              <span class="text-secondary-50">Have any questions?</span>
              <span class="text-secondary">Call: +91 80502 38777</span>
            </div>
            <div class="d-flex align-items-center justify-content-center ms-4 ">
              <a href="#"><i class="fa fa-search text-secondary fa-2x"></i> </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Navbar End -->
  </div>
</header>
<!-- Topbar End -->
<!-- <header [class.sticky]="isScrolled" [class.hide]="hideHeader" [class.invert-logo]="shouldInvertLogo()">
  <nav class="nav-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 col-md-11 col-sm-11 col-11 mx-auto">
          <div class="d-flex align-items-center justify-content-between">
            <a routerLink="/" class="logo-wrapper">
            </a>
            <ul class="nav d-none d-lg-flex">
              <li><a routerLink="/" routerLinkActive="active">Home</a></li>
              <li><a routerLink="/about" routerLinkActive="active">About</a></li>
              <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
              <li>
                <a routerLink="/projects" routerLinkActive="active">
                  Projects
                </a>
              </li>
              <li><a routerLink="/contact" routerLinkActive="active">Contacts</a></li>
            </ul>
            <div class="mobile-actions d-flex d-lg-none">
              <a routerLink="/contact" class="mobile-link">Contact</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </nav>
</header> -->