<header [class.sticky]="isScrolled" [class.hide]="hideHeader" [class.invert-logo]="shouldInvertLogo()">
  <nav class="nav-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 col-md-11 col-sm-11 col-11 mx-auto">
          <div class="d-flex align-items-center justify-content-between">

            <!-- LOGO -->
            <a routerLink="/" class="logo-wrapper">
              <!-- <img [src]="baseUrl + '/assets/images/home/ph-logo.svg'" alt="PH Design Logo" class="logo ph-logo"
                width="83" height="60" /> -->
              <!-- <h1>Neelgund</h1> -->
            </a>

            <!-- DESKTOP NAV -->
            <ul class="nav d-none d-lg-flex">
              <li><a routerLink="/" routerLinkActive="active">Home</a></li>
              <li><a routerLink="/about" routerLinkActive="active">About</a></li>
              <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
              <li>
                <a routerLink="/projects" routerLinkActive="active">
                  Projects
                </a>
              </li>
              <li><a routerLink="/contact" routerLinkActive="active">Contacts</a></li>
            </ul>

            <!-- MOBILE ACTION -->
            <div class="mobile-actions d-flex d-lg-none">
              <a routerLink="/contact" class="mobile-link">Contact</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </nav>
</header>