<!-- HERO -->
<section class="hero bgcl-primary position-relative" *ngIf="projectData">
  <div
    class="content"
    [ngStyle]="{
      'background-image': 'url(' + imagePath + 'project/' + projectData.image + ')'
    }"
  >
    <div class="overlay"></div>

    <div class="text-block text-center">
      <p class="cloud-white size16 mb-0 sora-regular text-uppercase">
        {{ projectData.category_name }} | {{ projectData.year }}
      </p>
      <h1 class="size62 cloud-white nelphim-regular text-capitalize">
        {{ projectData.name }}
      </h1>
    </div>
  </div>
</section>

<!-- PROJECT INFO -->
<section class="list sectionp120 bgcl-primary" *ngIf="projectData">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-11 mx-auto">
        <div class="row">
          <div class="col-xl-5">
            <div class="row">
              <ng-container *ngFor="let item of [
                ['Client', projectData.owner],
                ['Location', projectData.location],
                ['Category', projectData.category_name],
                ['Completion', projectData.year],
                ['Scope', projectData.scope]
              ]">
                <div class="col-5">
                  <p class="sora-semibold raisain-black size18 mb-0">
                    {{ item[0] }}
                  </p>
                </div>
                <div class="col-7">
                  <p class="sora-medium raisain-black size18 mb-0">
                    {{ item[1] }}
                  </p>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="col-xl-6 mx-auto mt-xl-0 mt-4">
            <p
              class="sora-regular raisain-black size18"
              [innerHTML]="projectData.desc"
            ></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FULL IMAGE -->
<section class="bgcl-primary" *ngIf="projectData?.design_image_1">
  <div class="container-fluid">
    <div class="col-xl-10 col-11 mx-auto">
      <img
        (load)="onImageLoad()"
        class="img-fluid w-100 scroll-animate"
        [src]="imagePath + 'project/' + projectData.design_image_1"
        alt="{{ projectData.name }}"
        loading="lazy"
      />
    </div>
  </div>
</section>

<!-- BRIEF + SCOPE -->
<section class="sectionp120 bgcl-primary" *ngIf="projectData">
  <div class="container-fluid">
    <div class="col-xl-10 col-11 mx-auto">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="content brief">
            <div *ngIf="projectData.the_brief">
              <h2 class="sora-semibold size18">The Brief</h2>
              <p [innerHTML]="projectData.the_brief"></p>
            </div>

            <div *ngIf="projectData.scope_of_work">
              <h2 class="sora-semibold size18 mt-4">Scope of Work</h2>
              <p [innerHTML]="projectData.scope_of_work"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- IMAGE GALLERY -->
<section class="bgcl-primary sixth" *ngIf="projectData?.project_design_images?.length">
  <div class="container-fluid">
    <div class="col-xl-10 col-11 mx-auto">
      <div class="row">
        <div class="col-md-6">
          <p [innerHTML]="projectData.desc_3"></p>
        </div>

        <div class="col-md-6">
          <img
            *ngFor="let img of projectData.project_design_images"
            (load)="onImageLoad()"
            class="img-fluid w-100 csmb60"
            [src]="imagePath + 'project/' + img"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FEATURED PROJECTS -->
<section class="sectionpb150 bgcl-primary" *ngIf="recentProjects?.length">
  <div class="container-fluid">
    <div class="col-xl-10 col-11 mx-auto">
      <h2 class="nelphim-regular size62 csmb60">Featured Projects</h2>

      <!-- Desktop -->
      <div class="row d-none d-sm-flex g-4">
        <div class="col-md-4" *ngFor="let project of recentProjects">
          <a [routerLink]="['/project/project-details', project.url_key]">
            <img
              class="img-fluid w-100"
              [src]="imagePath + 'project/' + project.image_thumnail"
              loading="lazy"
            />
            <h3 class="size18 mt-3">{{ project.name }}</h3>
          </a>
        </div>
      </div>

      <!-- Mobile Swiper -->
      <div class="swiper mySwiper d-sm-none" ngSkipHydration>
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let project of recentProjects">
            <a [routerLink]="['/project/project-details', project.url_key]">
              <img
                class="img-fluid w-100"
                [src]="imagePath + 'project/' + project.image_thumnail"
              />
              <h5 class="size18 mt-3">{{ project.name }}</h5>
            </a>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
