<ng-container *ngIf="showLoader">
	<div class="loader-overlay" [class.hidden]="isHiding">
		<!-- Thumbnail container -->
		<div #thumbnail *ngIf="showThumbnail" class="thumbnail-wrapper" (click)="onThumbnailClick()">
			<img
				[src]="imageURL + '/loader-video/rent-car-yacht-services-in-dubai.webp'"
				alt="ghost-rental-mobile-thumbnail"
				title="ghost-rental-mobile-thumbnail"
				class="d-flex d-lg-none w-100 h-100"
				loading="eager" width="0" height="0"
			/>
			<img
				[src]="imageURL + '/loader-video/luxury-car-and-yacht-services.webp'"
				alt="ghost-rental-desktop-thumbnail"
				title="ghost-rental-desktop-thumbnail"
				class="d-none d-lg-flex w-100 h-100"
				loading="eager" width="0" height="0"
			/>
		</div>

		<!-- Desktop video -->
		<video
			#desktopVideo
			[src]="imageURL + '/loader-video/ghost-rental-desktop-video.mp4'"
			class="d-none d-lg-flex"
			preload="auto"
			playsinline
			muted
			webkit-playsinline
			title="ghost-rental-desktop-video"
		></video>

		<!-- Mobile video -->
		<video
			#mobileVideo
			[src]="imageURL + '/loader-video/ghost-rental-mobile-video.mp4'"
			class="d-flex d-lg-none"
			preload="auto"
			playsinline
			muted
			webkit-playsinline
			title="ghost-rental-mobile-video"
		></video>
	</div>
</ng-container>
