.hero-bannerservice {
	min-height: 100vh;

	@media (max-width: 480px) {
		min-height: auto;
	}

	.content {
		display: flex;

		@media (max-width: 991px) {
			display: block;
		}

		.box-right {
			min-height: 120vh;
			overflow: hidden;
			width: 50%;
			position: relative;
			background-image: url("../../../assets/images/services/commercial-design1.webp");
			background-attachment: fixed;
			background-repeat: no-repeat;
			// background-size: contain;
			background-size: 50% 100%;
			background-position: center right;

			@media (max-width: 1199px) {
				background-attachment: scroll;
				background-position: center;
				background-size: cover;

			}

			@media (max-width: 991px) {
				width: 100%;
			}

			// &::after {
			// 	content: "";
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	width: 100%;
			// 	height: 100%;
			// 	background: linear-gradient(
			// 		to top,
			// 		rgba(0, 0, 0, 0.5) 0%,
			// 		/* dark at bottom */ rgba(0, 0, 0, 0) 100% /* transparent at top */
			// 	);
			// 	z-index: 1;
			// }
			@media (max-width: 991px) {
				width: 100%;
				min-height: 60vh;
				background-size: cover;
				background-position: center;
				background-attachment: scroll;
			}
		}

		.box-left {
			width: 50%;
			position: relative;

			@media (max-width: 991px) {
				height: 50vh;
				width: 100%;
			}

			.content-block {
				position: absolute;
				top: 30%;
				width: 80%;
				transform: translate(22%, 0%);

				@media (max-width: 991px) {
					transform: translate(12%, 0%);
				}

				// width: 63%;
				// h1{
				// 	width: 259px;
				// 	@media(max-width:1199px){
				// 		width: 125px;
				// 	}
				// }
			}
		}
	}
}

#residential-design3 {
	padding-bottom: 80px;

	@media (max-width: 991px) {
		padding-bottom: 50px;
	}

	@media (max-width: 575px) {
		padding-bottom: 30px;
	}
}

.servicelist {
	.content {
		@media (max-width: 767px) {
			display: flex;
			justify-content: space-between;
			align-items: center;

			h2.csmb30 {
				margin-bottom: 0;
			}
		}
	}

	.card {
		a {
			width: 100%;
			height: 100%;
		}
	}
}

.image-attached {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.customheight {
	min-height: 350px;
	padding-bottom: 50px;
	padding-top: 100px;

	@media (max-width: 480px) {
		// min-height: 300px;
		padding-top: 50px;
		padding-bottom: 30px;
	}
}

/************ slider buttons *******************/
.swiper-pagination {
	position: relative;
	bottom: 0;
	margin-top: 20px;
	text-align: center;

	@media (max-width: 1199px) {
		margin-top: 0px;
	}

	@media (max-width: 767px) {
		text-align: left;
		margin-top: 0;
	}

	@media (max-width: 575px) {
		text-align: left;
		margin-top: 0;
	}

	::ng-deep {
		.swiper-pagination-bullet {
			flex: 1 1 auto;
			width: 62px;
			height: 4px;
			background-color: #fff;
			border-radius: 0px;
			overflow: hidden;
			position: relative;
			transition: background-color 0.3s ease;
			opacity: 1;
			margin-right: 6px;

			@media (max-width: 575px) {
				height: 2px;
				width: 42px;
			}
		}

		.swiper-pagination-bullet::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 0;
			background-color: #0d6efd;
			transition: width 0.5s ease;
		}

		// Active bullet fills slowly
		.swiper-pagination-bullet-active::before {
			width: 100%;
			transition: width 5s linear; // match Swiper autoplay delay (5000ms = 5s)
		}

		.swiper-pagination-bullet-active::before {
			width: 100%;
		}
	}
}

.mySwiper {
	@media (max-width: 575px) {
		padding-bottom: 50px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

/************ slider buttons *******************/
.para {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	margin-top: 5px;

	@media(max-width:1440px) {
		margin-top: 4px;
	}

	@media(max-width:1199px) {
		margin-top: 3px;
	}

	@media(max-width:767px) {
		margin-top: 0px;
	}

	p {
		width: 75%;

		@media (max-width: 2048px) {
			width: 94%;
		}

		@media (max-width: 1920px) {
			width: 100%;
		}
	}
}

.csmb80 {
	@media(max-width:575px) {
		margin-bottom: 20px;
	}
}

// .csmb80 {
// 	margin-bottom: 80px;
// 	@media (max-width: 767px) {
// 		margin-bottom: 50px;
// 	}
// 	@media (max-width: 575px) {
// 		margin-bottom: 20px;
// 	}
// }
.size62 {
	font-size: 62px;

	@media (max-width: 1600px) {
		font-size: 52px;
	}

	@media (max-width: 1540px) {
		font-size: 48px;
	}

	@media (max-width: 1440px) {
		font-size: 46px;
	}

	@media (max-width: 1366px) {
		font-size: 38px;
	}

	@media (max-width: 1024px) {
		font-size: 36px;
	}

	@media (max-width: 991px) {
		font-size: 32px;
	}

	@media (max-width: 768px) {
		font-size: 28px;
	}

}

.size90 {
	font-size: 90px;

	@media (max-width: 2048px) {
		font-size: 80px;
	}

	@media (max-width: 1920px) {
		font-size: 68px;
	}

	@media (max-width: 1600px) {
		font-size: 58px;
	}

	@media (max-width: 1440px) {
		font-size: 54px;
	}

	@media (max-width: 1366px) {
		font-size: 48px;
	}

	@media (max-width: 1024px) {
		font-size: 32px;
	}

	@media (max-width: 768px) {
		font-size: 28px;
	}

}