<section class="service hero-bannerservice bgcl-primary">
	<div class="content d-lg-flex d-none">
		<div class="box-left">
			<div class="content-block">
				<p class="size16 raisin-black sora-regular mb-0 text-uppercase">
					{{ servicesBannerData.name }}
				</p>
				<h1 class="nelphim-regular size90 raisin-black mb-0">
					{{ servicesBannerData.short_desc }}
				</h1>
				<p class="size18 raisin-black sora-regular csmt30 mb-0">
					{{ servicesBannerData.desc }}
				</p>
			</div>
		</div>
		<div class="box-right">
		</div>
	</div>
	<div class="container-fluid d-lg-none d-md-block">
		<div class="col-md-10 col-sm-11 col-11 mx-auto">
			<div class="row">
				<div class="col-md-12">
					<div class="d-flex justify-content-start align-items-end customheight">
						<div class="content-block">
							<p class="size16 raisin-black sora-regular mb-0 text-uppercase">
								{{ servicesBannerData.name }}
							</p>
							<h2 class="nelphim-regular size90 raisin-black mb-0">
								{{ servicesBannerData.short_desc }}
							</h2>
							<p class="size18 raisin-black sora-regular csmt30 mb-0">
								{{ servicesBannerData.desc }}
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="image-attached relative d-lg-none d-md-block">
		<img src="{{
				baseUrl
			}}/assets/images/services/commercial-design1.webp" alt="services banner" title="services banner" loading="eager"
			width="0" height="0" />
	</div>
</section>

<section class="services sectionpt150 bgcl-primary servicelist"
	*ngFor="let service of servicesData; let i = index">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-10 col-lg-10 col-md-10 col-sm-11 col-11 mx-auto"  id="{{ service.url_key }}">
				<div class="row">
					<div class="col-lg-7 col-md-6 csmb80" data-aos="fade-up" data-aos-duration="1500">
						<div class="content">
							<h2 class="nelphim-regular size62 raisin-black csmb30 service-title">
								<span class="d-block">{{ service.name.split(' ')[0] }} Interior</span>
								<span class="d-block">Design Services</span>
							</h2>
							<a [routerLink]="['/portfolio', service.url_key]" class="btn-primary d-md-block d-none">Explore</a>
						</div>
					</div>
					<div class="col-lg-5 col-md-6" data-aos="fade-up" data-aos-duration="1500">
						<div class="para">
							<p class="sora-regular size18 raisin-black">
								{{ service.short_desc }}
							</p>
						</div>
						<a [routerLink]="['/portfolio', service.name]" class="btn-primary d-md-none d-block mb-4">Explore</a>
					</div>
					<div class="col-md-12 ">
						<div class="mainimg " data-aos="fade-up" data-aos-duration="1000">
							<!-- "csmb40" this class is removed due to project card removed or projects 3 items removed -->
							<img class="img-fluid w-100  scroll-animate"
								src="{{ imagePath }}category/{{ service.galleyimagedata[0].src }}" alt="{{ service.name }}"
								title="{{ service.name }}" loading="lazy" width="0" height="0" />
							<!-- <p class="sora-regular raisin-black size16 csmb40 mt-0 text-capitalize"
								*ngIf="(projects | filterByCategory: service._id).length > 0">
								{{ service.name.split(' ')[0] }} Interior Design projects
							</p> -->
						</div>
					</div>

					<!-- ✅ Desktop view: Only 3 projects per category -->
					<!-- <div class="col-12 mb-4 d-sm-block d-none" *ngIf="(projects | filterByCategory: service._id).length > 0">
						<div class="row g-lg-5 g-3">
							<ng-container *ngFor="
                  let project of (projects | filterByCategory: service._id | slice: 0:3);
                  let j = index
                ">
								<div class="col-lg-4 col-md-4 col-sm-6">
									<div class="card image-zoom-effect">
										<a href="/project/project-details/{{ project.url_key }}">
											<div class="image-holder">
												<img class="img-fluid w-100 h-100 object-fit-cover scroll-animate"
													src="{{ imagePath }}project/{{ project.image_thumnail }}" alt="{{ project.name }}"
													title="{{ project.name }}" loading="lazy" width="0" height="0" />
											</div>
											<h3 class="raisin-black sora-regular size18 mt-3 mb-0">
												{{ project.name }}
											</h3>
										</a>
									</div>
								</div>
							</ng-container>
						</div>
					</div> -->
					<!-- ✅ Mobile view (Swiper): Only 3 projects per category -->
					<!-- <div class="swiper mySwiper d-sm-none d-inline" #mySwiper ngSkipHydration
						*ngIf="(projects | filterByCategory: service._id).length > 0">
						<div class="swiper-wrapper">
							<ng-container *ngFor="
                  let project of (projects | filterByCategory: service._id | slice: 0:3);
                  let j = index
                ">
								<div class="swiper-slide image-zoom-effect">
									<a href="/project/project-details/{{ project.url_key }}">
										<div class="image-holder">
											<img class="img-fluid w-100 h-100 object-fit-cover scroll-animate"
												src="{{ imagePath }}project/{{ project.image_thumnail }}" alt="{{ project.name }}"
												title="{{ project.name }}" loading="eager" width="0" height="0" />
										</div>
										<div class="card-body cspostion">
											<h5 class="sora-regular size18 raisin-black mt-3 mb-0">
												{{ project.name }}
											</h5>
										</div>
									</a>
								</div>
							</ng-container>
						</div>
						<div class="swiper-pagination"></div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</section>
<div class="sectionpb150 bgcl-primary"></div>