<section class="testimonails sectionm">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-11 col-11 mx-auto">
        <h2 class="text-h1 crake-regular text-center csmb60">We Make it Easy. <span class="d-md-block d-sm-inlien">
          You Make it Great.</span> </h2>
        <div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-indicators" style="bottom:-40px">
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"> <span class="dot"></span> </button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"><span
                class="dot"></span> </button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"><span
                class="dot"></span> </button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-lg-5 col-md-12">
                  <img src="{{baseUrl}}/assets/images/home/carpainter.png" class="d-block w-100" alt="Image 1" title="Image 1" loading="lazy"/>
                </div>
                <div class="col-lg-6 col-md-12 mx-auto">
                  <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="content">
                      <img src="{{baseUrl}}/assets/images/home/star.png" class="d-block csmb30" alt="review star" width="22"
                        height="21" loading="lazy" title="review star" />
                      <p class="lufga-regular size30 line-height-1 csmb30">"A Very Easy Ordering Process. Seamless
                        Delivery And Set Up. Love My
                        Sofa. So Comfortable."</p>
                      <small class="text-grey">Shellsea A</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-5 col-md-12">
                  <img src="{{baseUrl}}/assets/images/home/carpainter.png" class="d-block w-100" alt="Image 1" title="Image 1" loading="lazy"/>
                </div>
                <div class="col-lg-6 col-md-12 mx-auto">
                  <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="content">
                      <img src="{{baseUrl}}/assets/images/home/star.png" class="d-block csmb30" alt="review star" width="22"
                        height="21" loading="lazy" />
                      <p class="lufga-regular size30 line-height-1 csmb30">"B Very Easy Ordering Process. Seamless
                        Delivery And Set Up. Love My
                        Sofa. So Comfortable."</p>
                      <small class="text-grey">Shellsea B</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-5 col-md-12">
                  <img src="{{baseUrl}}/assets/images/home/carpainter.png" class="d-block w-100" alt="Image 1" title="Image 1" loading="lazy"/>
                </div>
                <div class="col-lg-6 col-md-12 mx-auto">
                  <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="content">
                      <img src="{{baseUrl}}/assets/images/home/star.png" class="d-block csmb30" alt="review star" width="22"
                        height="21" loading="lazy" title="review star" />
                      <p class="lufga-regular size30 line-height-1 csmb30">"C Very Easy Ordering Process. Seamless
                        Delivery And Set Up. Love My
                        Sofa. So Comfortable."</p>
                      <small class="text-grey">Shellsea C</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="buttons">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <!-- <span class="carousel-control-prev-icon"></span> -->
              <img src="{{baseUrl}}/assets/images/home/left-icon.svg" class="img-fluid rounded-0" alt="left icon"
                width="62" height="62" loading="lazy" title="left icon" />
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <!-- <span class="carousel-control-next-icon"></span> -->
              <img src="{{baseUrl}}/assets/images/home/right-icon.svg" class="img-fluid rounded-0" alt="right icon" title="right icon"
                width="62" height="62" loading="lazy" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>