/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/common";
[appFadeInOnScroll] {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
/* Custom scrollbar */
::-webkit-scrollbar {
	width: 8px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background: #c3c3c3;
	border-radius: 5px;

	&:hover {
		background: #222423;
	}
}

::-webkit-scrollbar-track {
	border-radius: 5px;
}
*{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
.fade-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card {
  @include flex-center;
}

// ================================= font family =========================
// *************** Font family Nelphim *****************

.nelphim-regular {
  font-family: $font-nelphim-regular;
}
.nelphim-italic {
  font-family: $font-nelphim-italic;
}
// ************** Font family Sora *******************

.sora-thin {
  font-family: $font-sora-thin;
}
.sora-extralight {
  font-family: $font-sora-extralight;
}
.sora-light {
  font-family: $font-sora-light;
}
.sora-regular {
  font-family: $font-sora-regular;
}
.sora-medium {
  font-family: $font-sora-medium;
}
.sora-semibold {
  font-family: $font-sora-semibold;
}
.sora-bold {
  font-family: $font-sora-bold;
}
.sora-extrabold {
  font-family: $font-sora-extrabold;
}

.montserrat-bold{
  font-family: $montserrat-bold;
}
// ================================= Important text headings font size ========================
//Main headings use for h1 per page
.text-h1 {
  font-size: 60px;
  @media (max-width: 1600px) {
    font-size: 48px;
  }
  @media (max-width: 1199px) {
    font-size: 42px;
  }
  @media (max-width: 767px) {
    font-size: 32px;
  }
}

//Section titles used each section title
.text-h2 {
}

//Sub-sections or blocks
.text-h3 {
  font-size: 26px;
  @media (max-width: 1199px) {
    font-size: 20px;
  }
  @media (max-width: 991px) {
    font-size: 18px;
  }
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

// Secondary headings	Under titles
.text-subtitle {
}

// text paragraphs
.text-p {
  font-size: 18px;
  @media (max-width: 1600px) {
    font-size: 16px;
  }
  //  @media (max-width: 1199px) {
  //   font-size: 16px;
  // }
  @media (max-width: 767px) {
    font-size: 14px;
  }
}
// Intro/lead content	Just below headings
.text-lead {
}

// Captions, footnotes
.text-small {
  font-size: 12px;
}
// Less important text
.text-muted {
}
.size300{
  font-size: 300px;
  @media (max-width: 1536px) {
    font-size: 250px;
  }
  @media (max-width: 1366px) {
    font-size: 225px;
  }
  @media (max-width: 1280px) {
    font-size: 200px;
  }
  @media (max-width: 1024px) {
    font-size: 150px;
  }
  @media (max-width: 768px) {
    font-size: 120px;
  }
  @media (max-width: 480px) {
    font-size: 70px;
  }
  @media (max-width: 380px) {
    font-size: 50px;
  }
}
.size90{
  font-size: 90px;
  @media (max-width: 2048px) {
    font-size: 80px;
  }
  @media (max-width: 1920px) {
    font-size: 74px;
  }
  @media (max-width: 1600px) {
    font-size: 58px;
  }
  @media (max-width: 1440px) {
    font-size: 54px;
  }
  @media (max-width: 1366px) {
    font-size: 48px;
  }

  @media (max-width: 1024px) {
    font-size: 32px;
  }
  @media (max-width: 768px) {
    font-size: 28px;
  }

}
.size100{
  font-size: 100px;
  @media (max-width: 1600px) {
    font-size: 80px;
  } 
  @media (max-width: 1440px) {
    font-size: 60px;
  }
  @media (max-width: 1366px) {
    font-size: 54px;
  }
  @media (max-width: 1280px) {
    font-size: 50px;
  }
  @media (max-width: 1024px) {
    font-size: 40px;
  }
}
.size62{
  font-size: 62px;
  @media (max-width: 1600px) {
    font-size: 52px;
  }
  @media (max-width: 1540px) {
    font-size: 48px;
  }
  @media (max-width: 1440px) {
    font-size: 46px;
  }
  @media (max-width: 1366px) {
    font-size: 38px;
  }
  @media (max-width: 1024px) {
    font-size: 36px;
  }
  // @media (max-width: 768px) {
  //   font-size: 28px;
  // }
  // @media (max-width: 480px) {
  //   font-size: 24px;
  // }
}
.size54{
  font-size: 54px;
    @media (max-width: 1600px) {
      font-size: 48px;
    }   
    @media (max-width: 1440px) {
      font-size: 42px;
    }
    @media (max-width: 1366px) {
      font-size: 38px;
    }
    // @media (max-width: 1024px) {
    //   font-size: 30px;
    // }
    // @media (max-width: 768px) {
    //   font-size: 28px;
    // }
    // @media (max-width: 480px) {
    //   font-size: 24px;
    // }
  }
.size46 {
  font-size: 46px;
  @media (max-width: 1600px) {
    font-size: 42px;
  }
  @media (max-width: 1199px) {
    font-size: 32px;
  }
  @media (max-width: 991px) {
    font-size: 24px;
  }
}
.size42 {
  font-size: 42px;
  @media (max-width: 1600px) {
    font-size: 38px;
  }
  @media (max-width: 1199px) {
    font-size: 32px;
  }
  @media (max-width: 991px) {
    font-size: 24px;
  }
}
.size38 {
  font-size: 38px;
  @media (max-width: 1366px) {
    font-size: 28px;
  }
  @media (max-width: 1024px) {
    font-size: 24px;
  }
  @media (max-width: 768px) {
    font-size: 22px;
  }

}
.size30 {
  font-size: 30px;
  @media (max-width: 1199px) {
    font-size: 24px;
  }
  @media (max-width: 991px) {
    font-size: 18px;
  }
}
.size32 {
  font-size: 32px;
  @media (max-width: 1600px) {
    font-size: 28px;
  }
  @media (max-width: 991px) {
    font-size: 20px;
  }
}
.size24{
  font-size: 24px;
  @media (max-width: 1600px) {
    font-size: 22px;
  }
  @media (max-width: 1199px) {
    font-size: 20px;
  }
}
.size21 {
  font-size: 21px;
  @media (max-width: 1536px) {
    font-size: 16px;
  }
  @media (max-width: 991px) {
    font-size: 14px;
  }
}
.size22 {
  font-size: 22px;
  @media (max-width: 1600px) {
    font-size: 18px;
  }
  @media (max-width: 991px) {
    font-size: 14px;
  }
}
.size20{
  font-size: 20px;
  @media (max-width: 1600px) {
    font-size: 19px;
  }
  @media (max-width: 1199px) {
    font-size: 18px;
  }
  @media (max-width: 991px) {
    font-size: 14px;
  }
}

.size18{
  font-size: 18px;
    @media (max-width: 1600px) {
      font-size: 16px;
    }
     @media (max-width: 991px) {
      font-size: 14px;
    }
  }
.size16 {
  font-size: 16px;
  @media (max-width: 1199px) {
    font-size: 14px;
  }
  // @media (max-width: 991px) {
  //   font-size: 12px;
  // }
}
.size14 {
  font-size: 14px;
  @media (max-width: 991px) {
    font-size: 12px;
  }
}
// ******************************** button css ********************************

.btn-primary {  
	@include custom-button($raisin-black, 14px, 37px);
    font-family: $font-sora-regular;
    // font-weight: 700;
    font-style: normal;
		transition: all 0.3s ease-in-out;
		font-size: 16px;
    @media (max-width: 1600px) {
      font-size: 14px;
    }
    //  @media (max-width: 991px) {
    //   font-size: 14px;
    // }
  &:hover {

		@include custom-button($grayish-orange, 14px, 37px);
    font-family:$font-sora-regular;
    
  }
}
.btn-secondary {
  @include custom-button2($cloud-white, 14px, 37px);
    font-family: $font-sora-regular;
    // font-weight: 700;
    font-style: normal;
		transition: all 0.3s ease-in-out;
		font-size: 16px;
    @media (max-width: 1600px) {
      font-size: 14px;
    }
    //  @media (max-width: 991px) {
    //   font-size: 14px;
    // }
  &:hover {
		@include custom-button2($cloud-white, 14px, 37px);
    font-family:$font-sora-regular;
  }
}
// .btn-terchary {
//   @include custom-button();
//   font-family: $font-lufga-medium;
//   // font-weight: 500;
//   font-size: 18px;
//   @media (max-width: 1199px) {
//     font-size: 16px;
//   }
//   @media (max-width: 991px) {
//     font-size: 14px;
//   }
// }
// .smallprimarybtn {
//   @include smallprimarybtn();
// }
// .form-btn1 {
//   @include form-button1();
//   font-size: 18px;
//   @media (max-width: 1199px) {
//     font-size: 16px;
//   }
//   @media (max-width: 991px) {
//     font-size: 14px;
//   }
// }
// .form-btn2 {
//   @include form-button2();
//   font-size: 18px;
//   @media (max-width: 1199px) {
//     font-size: 16px;
//   }
//   @media (max-width: 991px) {
//     font-size: 14px;
//   }
// }
.subscriber-group {
  border-bottom: 1px solid $raisin-black;
  input[type="email"] {
    height: 35px;
    border: none;
    // font-family: $font-lufga-regular;
    // font-family: $font-lufga-regular;
    // font-weight: 400;
    background-color: transparent !important;
    color: $raisin-black;
    font-size: 14px;
  }
  .btn-subscribe {
    font-size: 14px;
    border: none !important;
  }
}
// .smallbtn {
//   @include smallbtn();
// }

// ================================== colors ==========================

.cloud-white{
  color: $cloud-white;
}
.raisin-black{
  color: $raisin-black;
}
.ashy-orange{
  color: $ashy-orange;
}
.grayish-orange{
  color: $grayish-orange;
}
.gray{
  color: $gray;
}

.gray-white{
  color: $gray-white;
}

.border-primary{
  border-color: $grayish-orange !important;
}
.line-color{
  color:$grayish-orange;
  background-color: $grayish-orange;
}
 
// ================================= Background colors ========================
.bgcl-primary {
  background-color: #f8f9fb;
}
.bgcl-black {
  background-color:$raisin-black;
}
.bgcl-orange {
  background-color:$ashy-orange;
}
.bgcl-secondary {
  background-color:$ashy-orange;
}
.bgcl-grayish-orange {
  background-color:$grayish-orange;
}
.text-secondary {
  color: #0665e3 !important;
}
// .bg-beige {
//   background-color: $text-beige;
// }
// ===========================================line height ==========================
.line-height-1 {
  line-height: 30px;
  @media (max-width: 1199px) {
    line-height: 28px;
  }
  @media (max-width: 991px) {
    line-height: normal;
  }
}
.number-btn {
  background-color: transparent;
  color: gray;
}
.active-page {
  font-family: $font-sora-semibold;
  color: $raisin-black ;
}
.circle-btn.filled {
  background-color: transparent;
}
.nodata_msg {
  text-align: center;
  color: #f00;
  font-size: 30px;
  font-family: $font-sora-medium;
}
.line{
  height: 1px;
  width: 100%;
  opacity: 30%;
}

/*--- Image hover Effects
-----------------------------------------------*/
.image-zoom-effect {
  display: flex;
  flex-wrap: wrap;
}

.image-zoom-effect .image-holder {
  width: 100%;
  height: auto;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.image-zoom-effect:hover .image-holder {
  transform: scale(0.95);
}

.image-zoom-effect img {
  transform: scale(1);
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 0;
}

.image-zoom-effect:hover img {
  transform: scale(1.1);
}
