<section
  id="nofound"
  class="d-flex align-items-center justify-content-center bgcl-secondary min-vh-100">
  <div class="container">
    <div class="col-md-10 mx-auto">
      <div class="nofound text-center">
        <div class="nofound-404 text-center">
          <h1 class="nelphim-regular size100 raisin-black">404</h1>
        </div>
        <h2 class="size32 sora-regular raisin-black text-uppercase">Page Not Found</h2>
        <p class="mb-4">We’re sorry, the page you have looked for does not exist in our website! Maybe go to our home page or try to use a search?</p>
        <div class="w-100 d-flex justify-content-center align-items-center mt-4">
          <a class="btn-primary text-capitalize " href="/" data-text="Go Back To Home">
            <span>Go Back To Home</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>