<section id="notfound" class="d-flex align-items-center justify-content-center  bgcl-secondary">
  <div class="container">
    <div class="col-md-10 mx-auto">
      <div class="notfound text-center">
        <div class="notfound-404 text-center">
          <h1 class="nelphim-regular size100 raisin-black">4<span
              class="nelphim-regular size100 raisin-black">0</span>4</h1>
        </div>
        <h2 class="size32 sora-regular raisin-black text-uppercase">the page you requested could not
          found</h2>
        <div class="w-100 d-flex justify-content-center align-items-center mt-4">
          <a class="btn-primary text-capitalize " href="/" data-text="Back To Home">
            <span>Back To Home</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>